*{
    margin:0;
    padding:0;
}

/** The following css code is for the index.html page**/
.About{
    width: 100%;
}
.logo{
    display: none;
    height: 20%;
    
}
.image-info{
    width:100%;
}
.image-info h1{
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 100px;
    color: #111;
    line-height: 44px;
}
.image-info p{
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;

}

.codeimage{
    width: 100%;
}

/** this is to specify the style for ipad or tablet screens**/
@media only screen and (min-width: 768px){
    .logo{
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .About{
        width: 600px;
        margin: 0 auto;
    }
    .image-info h1{
        padding: 20px 0px 0px 30px;
       
    }
    .image-info p{
        padding: 20px 0px 0px 30px;
       
    }
    .codeimage{
        padding-top: 40px;
    
    }
}

/** this is to specify thr style for desktop screens**/
@media only screen and (min-width: 1000px){
    .About{
        width: 1000px;
       
    }
    .image-info{
        width:50%;
        float:right;
    }
    .codeimage{
        padding-top: 0px;
        width:100%;
    }
}

