*{
    margin:0;
    padding:0;
    text-decoration: 0;
}
.index-hamburger:before {
    content: '';
     position: absolute;
     width: 100%;
     top: 0.3em;
     left: 0px;
     border-top: 0.2em solid #fff;
     float:right;
}

.index-hamburger{
    position:relative;
    height: 0.8em;
    width: 1.25em;
    display: block;
     border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
    float: right;
 }

.logo{
    width: 160px;
    cursor: pointer;
    display: block;
}
.index-body{
    display:grid;   
}
.index-header{
    background-color: #009d9a;
    width:100%;
    height:75;
}
.index-header .logo{
  width:160px;
  text-align: center;
 padding-left: 80px;
}

.index-nav ul{
    margin: 0 auto;
    display: block;
}
.index-nav ul li{
  display:block; 
  float: left;
  list-style: none;
  padding: 0 10px;
}
/** styles for nav links**/
.index-nav ul li a{
    font-family:'Dancing Script', cursive;
    font-size: 22px;
    font-weight: 900 bold;
    color:#111;
}

.index-content{
   width:100%;
   height: calc(100vh - 100px);
   background-image: url(coderimage.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative; 
}
.index-content h1{
    font-size: 60px;
    color: honeydew;
    font-family:'Dancing Script', cursive;
    line-height: 70px;
    font-weight: 900 bold;
    text-align: center;
    text-shadow: 2px 2px 10px #111;
}
.index-content p{
    font-size: 24px;
    color: honeydew;
    font-family:'Dancing Script', cursive;
    font-weight: 600 bold;
    line-height: 40px;
    text-align: center;
    text-shadow: 2px 2px 10px #111;
}
/**hide button in mobile view**/
main .index-button{
    display:none;
    opacity: 0;
}
/**Footer styles**/
.index-foot{
    padding:5px 5px;
    float: right;
    margin-bottom: 0;
    position: relative;
}
.index-foot ul li{
    float:left;
    padding:5px 5px;
    list-style: none;
    
}
.index-foot ul li a{
    color:black;
}


/**css styles for portfolio**/
/**This sets the dimensions for the logo**/
.port-logo{
    width: 160px;
    height: 160px;
    cursor: pointer;
    display: block;
    background-color: #009d9a;
    padding-left: 80px;
}

header{
    background-color: #009d9a;
}

/** sets display grid for the body**/
body .port-body{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:"port-header port-header port-header"
                        "port-nav port-nav port-nav"
                        "port-main port-main port-main ";
}

header .port-header{
    background-color:#009d9a;
    width:100%;
    height:160px;
    grid-area: port-header;
    
}

header .port-header .logo{
  width:160px;
  text-align: center;
  background-color: #009d9a;
}

nav .port-nav{
    grid-area: port-nav;
    height: 75px;
    width: 100%;
}

.port-nav ul{
    margin: 0 auto;
   
    
}

/**shows the portfolio navigation**/
nav .port-nav ul li{
  display:block; 
}


/** styles for nav links**/
.port-nav ul li a{
    font-family:'Dancing Script', cursive;
    font-size: 22px;
    font-weight: 900 bold;
    color:#111;
    
}

.port-nav ul li {
    display:block; 
    float: right;
    list-style: none;
    padding: 0 10px;

}

main .port-main{
    grid-area: port-main;
}

main .port-content{
   width:100%;
   height: calc(100vh - 100px);
   background-repeat: no-repeat;
   background-color: rgb(8, 8, 14);
   background-position: center;
   background-size: cover;
   position: absolute;
   
}

main .port-content .image-box{
    background-image: url(iceberg.jpg);
    
}

main .port-content .image-box1{
    background-image: url(99791.jpg);
    background-size: cover;
}

main .port-content h2{
    font-size: 40px;
    color: #111;
    font-family:'Dancing Script', cursive;
    line-height: 40px;
    text-align: center;
    text-shadow: 2px 2px 10px #111;
}

main .image-box{
    padding-top: 15px;
    margin:15px;
    width: calc(100% - 30px);
    height: 65px ;
    background-color: whitesmoke;
}

main .image-box1{
    padding-top: 15px;
    margin:15px;
    width: calc(100% - 30px);
    height: 65px ;
    background-color: whitesmoke;
}

/**hide button in mobile view**/
/**main .port-button{
    display:none;
    opacity: 0;
}**/


/** this is to specify thr style for desktop screens**/
@media only screen and (min-width: 1000px){

    main .image-box{
       margin: 10px 10px 0;
       height: 200px;
       padding-right: 10;
    }

    main .image-box1{
        margin: 10px 10px 0;
        height: 200px;
        padding-right: 10;
     }

    main .image-box{
        width: calc(25% - 60px) ;
    }

    main .image-box1{
        width: calc(50% - 60px);
     }
    
    main .port-content div{
        float:right;
    }

    .port-content{
        align-content: center;
    }
    .index-hamburger:before {
        display: none;
    }
    
    .index-hamburger{
        display:none;
     }
}

/**css styles are for Contact page**/
main {
    width:100%;
    height: calc(100vh - 100px);
    /**background-image: url(coderimage.png);**/
    background-repeat: no-repeat;
    background-color: rgb(8, 8, 14);
    background-position: center;
    background-size: cover; 
}

.contact-title{
    transition: all 4s ease-in-out; 
}

.contact-title h1{
    color:whitesmoke;
    text-align: center;
    font-size: 80px;
    font-family: 'Dancing Script';
    text-shadow: 20 20 black;
}

.contact-title p{
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
}

main .contact-form{
    color:white;
    text-align: center;
    margin-top: 50px;
    transition: all 5s ease-in-out;
}

.form-code{
    width:300px;
    background: 50% transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid gray;
    color:whitesmoke;
    font-size: 20px;
    margin-bottom: 18px;
}

input{
    height: 45px;
}
/** this is to specify thr style for desktop screens**/
@media only screen and (min-width: 1000px){
    .form-code{
        width:600px;
        background: 50% transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid gray;
        color:whitesmoke;
        font-size: 20px;
        margin-bottom: 18px;
    }
}

/**CSS Styles for CV **/
body .cv-body{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:"cv-header cv-header cv-header"
                        "cv-nav cv-nav cv-nav"
                        "cv-main cv-main cv-main ";
}

header .cv-header{
    background-color: #a6a6a6;
    width:100%;
    height:160px;
    grid-area: cv-header;
    
}

header .cv-header .logo{
  width:160px;
  text-align: center;
  background-color: #a6a6a6;
}

.cv-nav {
    grid-area: cv-nav;
    height: 30px;
    width: 100%;
}

.cv-nav ul{
    margin: 0 auto;
}

/**shows the cv navigation**/
.cv-nav  ul li{
    display:block; 
  }
  
  
  /** styles for nav links**/
  
.cv-nav ul li a{
      font-family:'Dancing Script', cursive;
      font-size: 22px;
      font-weight: 900 bold;
      color:#111;
      
  }

.cv-nav ul li {
      display:block; 
      float: left;
      list-style: none;
      padding: 0 10px;
  
  }

 /**sets cv-main to grid area**/
 main .cv-main{
      grid-area: cv-main;
  }

main .cv-main{
    width:100%;
    height: calc(100vh - 100px);
    background-color: rgb(8, 8, 14);
    position: absolute;
 }


 main .resume {
    display: grid;
    grid-template-columns: 50 50;
    grid-template-rows: auto;
    grid-template-areas:
    "name name"
    "about about"
    "education education"
    "skills skills";
  }
  .resume{
      text-align: center;
  }
  

.name {
    display: block;
    grid-area : name;
    color: #a6a6a6;
    font-family: 'Dancing Script';
    font-size: 60px;
    font-weight: 600;
    text-shadow: 2px 2px #a6a6a6;
    margin-left: 5px;
  }
  
.about {
    display:block;
    grid-area : about;
    color: whitesmoke;
    padding: 15px;
  }
.about h2{
    font-family: 'Dancing Script';
    font-size: 30px;
}
.about p{
    font-family: sans-serif;
    font-size: 15px;
}

.education {
    display:block;
    grid-area : education;
    color:whitesmoke;
    padding: 10px;
  }
.education h2{
    font-family: 'Dancing Script';
    font-size: 30px;
  }
.education p{
    font-family: sans-serif;
    font-size: 16px;
}
  .skills {
    display:block;
    grid-area : skills;
    color: whitesmoke;
    padding: 10px;
  }
  .skills h2{
    font-family: 'Dancing Script';
    font-size: 30px;
  }
  .skills p{
    font-family: sans-serif;
    font-size: 16px;
}
main .cv-wallpaper{
    display: none;
}

/** this is to specify the style for desktop screens**/
@media only screen and (min-width: 1000px){
main .cv-wallpaper{
   
    height: 60%;
    position: absolute;
    bottom: 0;
    right: 0px;
    transition: all 5s ease-in-out;
}
}