
section {
    width:50%;
    display:block;
    float:right;
    height: 50;
}
h  {
    background-color:blue;
    color: rgb(250, 239, 239);
    display: inline;
    font: 1em sans-serif;
} 
.csy1018{
    background-color:rgb(119, 12, 119);
}
.csy1019{
    background-color: greenyellow;
}

.csy1014 {
    background-color: grey;
}
.csy1020 {
    background-color: indianred;
}
.csy1026{
    background-color: blue;
}
.csy1017{
    background-color: khaki;
}