body{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 40% 20% 40% 20%;
    grid-template-areas: "header header header"
                         "nav nav nav"
                         "main  main aside"
                         "footer footer footer";
}
header {
    background-color : purple;
    color: white;
    padding: 10px;
    grid-area:header;
}

nav{
    background-color: cyan;
    grid-area:nav;
}

main{
    background-color: black;
    color: white;
    grid-area:main;
}

aside{
    background-color: chartreuse;
    grid-area:aside;
}

footer{
    background-color: crimson;
    color : white;
    grid-area:footer;
}

li{
    display: inline;
    padding : 150px;

}
h1{
    display: inline;
}

